Update RFC 6266 grammar to remove disp-ext-parm ambiguity.

An [erratum](https://www.rfc-editor.org/errata/rfc6266) to [RFC 6266](https://www.rfc-editor.org/rfc/rfc6266) points out that the rule 'disp-ext-parm' is ambiguous as defined because the rule 'token' matches everything matched by the rule 'ext-token'. In addition, the rule 'value' appears to match everything in ext-value.  Thus one cannot distinguish the ext case using the grammar.  

This amibiguity turns out to be a problem in a forthcoming HTTP header library.  I could do some fixups in the code, but the point of working from the grammar is to reduce the possibility of security issues arising from ad-hoc parsing or validation. 

RFC 5987 modifies the grammar of RFC 2616, and the erratum suggests changing the definition of 'disp-ext-parm' using these modifications to remove the ambiguity.  